version: '3.8'

services:
  backend:
    build: ./backend
    container_name: crowd-backend
    ports:
      - "8081:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/crowdtracking
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: crowd-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6.0
    container_name: crowd-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
